<form method="get" action="#">
    <input type="number" name="a" value="<%=@a%>">
    <br>
    <input type="text" name="op" value="<%=@op%>">
    <br>
    <input type="number" name="b" value="<%=@b%>">
    <br>
    <input type="text" name="rez" value="<%= @result %>">
    <br>
    <button type="submit"> Submit </button>
  </form>